<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/toate">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/putere">Statistica Putere Boxe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/filtru">Gaseste Casti</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href="/numar_total">Numar total echipamente</a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
            <i class="fa fa-user" style="color:#ffffff"></i>
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">User</button>
            
            <i class="fa fa-shopping-basket" aria-hidden="true" style="color:#ffffff"></i>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cart</button>
            
    </div>
  </div>
</nav>