<style>
    body {
  background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;
}
</style>
<body>
<div class="row">
  {{# each amplificatoare}}
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src=" {{amplificatoare_image}} " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{amplificatoare_nume}}</h5>
        <p class="card-text">Putere: {{amplificatoare_putere}}</p>
        <p class="card-text">Pret: {{amplificatoare_pret}}</p>
        <a href="#" class="btn btn-primary">Adauga in cos</a>
      </div>
    </div>
    {{/each}}
</div>
</body>



  