body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

i {
  padding-left:10px;
  padding-right:10px;
}

.btn-outline-success {
  padding-left:30px;
  padding-right:30px;
  color:#ffffff;
}
.btn{
  color:#ffffff
}
.fa { transform: scale(1.5,1.5); }

